
<ul class="pager pull-right">
  <li><%= link_to "&larr;".html_safe, date: @date - 1.day %></li>
  <li><strong><big>&nbsp;<%= l @date, format: :long %>&nbsp;</big></strong></li>
  <li><%= link_to "&rarr;".html_safe, date: @date + 1.day %></li>
  <li><%= link_to "Today", date: Date.today %></li>
</ul>

<h2>Songs played by <%= @profile.name %></h2>

<div class="lead">
  Danced <%= pluralize @plays.length, 'song' %> totaling
  <%= duration_as_min_sec(@plays.sum(:survive_seconds), true) %>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Time</th>
      <th>Song</th>
      <th>Difficulty</th>
      <th>Survived</th>
      <th>Grade</th>
    </tr>
  </thead>
  <tbody>
    <% @plays.each do |play| %>
    <tr>
      <td><big><%= l play.played_at, format: :time_only %></big></td>
      <td>
        <%= render partial: 'songs/song', object: play.chart.song %>
      </td>
      <td>
        <%= render partial: 'charts/chart', object: play.chart %>
      </td>
      <td>
        <big>
          <%= number_with_precision(play.survive_seconds, :precision => 0) %>s
        </big>
      </td>
      <td>
        <div><big><strong><%= grade_name(play.grade) %></strong></big></div>
        <div><%= number_to_percentage(play.percent_dp * 100, :precision => 2) %></div>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
